@import url('font.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 90vw;
    margin: 3% auto;
    border-radius: 20px;
}

.box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: hsl(256, 67%, 59%);
    font-family: 'DMSans', sans-serif;
}
